# Vanilla Gradient Descent

### Looking at our data

------

This data set can be found using this <a href='kaggle.com'>link</a>

###### Import

First we will import pandas, pandas is a great tool working with data, we can easily read csvs using the read_csv method and the data will be directly converted into a dataframe

In [1]:
import pandas as pd

In [2]:
challenge = pd.read_csv('./input/challenge.csv')

In [3]:
challenge.head()

,Overall Position,Gender Position,Category Position,Category,Race No,Country,Official Time,Net Time,10km Time,Half Way Time,30km Time
0,1,1,1,MMS,21080,Kenya,2:12:12,2:12:11,0:30:35,1:04:48,1:33:36
1,2,2,1,MMI,14,Kenya,2:12:14,2:12:13,0:30:34,1:04:48,1:33:36
2,3,3,2,MMI,2,Ethiopia,2:12:20,2:12:18,0:30:35,1:04:49,1:33:36
3,4,4,2,MMS,21077,Kenya,2:12:29,2:12:27,0:30:35,1:04:48,1:33:36
4,5,5,3,MMI,18,Ethiopia,2:12:47,2:12:46,0:30:34,1:04:48,1:33:36

In [4]:
challenge.columns

Index(['Overall Position', 'Gender Position', 'Category Position', 'Category',
       'Race No', 'Country ', 'Official Time', 'Net Time', '10km Time',
       'Half Way Time', '30km Time'],
      dtype='object')

In [5]:
hkrunners = pd.read_csv('./input/run1.csv')

In [6]:
hkrunners.head()

,Overall Position,Gender Position,Category Position,Category,Race No,Country,Official Time,Net Time,10km Time,Half Way Time,30km Time
0,1,1,1,MR1,A0066,Ireland,2:51:05,2:51:02,0:38:50,1:23:15,1:59:44
1,2,2,2,MR1,A6190,Hong Kong SAR,2:54:04,2:53:57,0:39:35,1:24:09,2:00:24
2,3,3,3,MR1,A4491,China,2:58:34,2:57:28,0:40:53,1:27:03,2:04:02
3,4,4,4,MR1,A8955,China,3:03:34,3:03:28,0:42:52,1:30:34,2:08:36
4,5,5,5,MR1,A5879,China,3:04:50,3:04:49,0:40:42,1:27:31,2:06:08

In [7]:
hkrunners.columns

Index(['Overall Position', 'Gender Position', 'Category Position', 'Category',
       'Race No', 'Country ', 'Official Time', 'Net Time', '10km Time',
       'Half Way Time', '30km Time'],
      dtype='object')

### Model

---------
Source:
1. https://stats.stackexchange.com/questions/250937/which-loss-function-is-correct-for-logistic-regression

In [8]:
def z(theta, x):
    return np.transpose(theta)*x

In [10]:
#Since Logistic Regression is binary we could use the following equation if P(y=1|x)
def logisticRegressionOne(z):
    return 1/1+np.exp(-z)

#To get the opposite since it is binary we could just deduct one from the given equation, P(y=0|x)
def logisticRegressionZero(z):
    return 1 - logisticRegressionOne(z)

In [11]:
#Know we are going to create our cost function also known as Loss Function
#We are going to feed the models and the data inside the cost function to create an equation on which we will descent into
#We are going to bernoulli's formula or the log likelihood
def costfunction(logZero, logOne, y):
    output = np.sum()

SyntaxError: unexpected EOF while parsing (<ipython-input-11-13a22fc5f6f0>, line 4)

In [ ]:
y = mx +b

In [ ]:
SSE sum(y-y)^2

### Cost Function

###  Gradient Descent